body{
  margin: 0;
  padding: 0;
  background: #34495e;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transition:translate(-50%,-50%);
}
li{
  display: inline-block;
}
li a  {
  text-decoration: none;
  display: inline-block;
  color: #ecf0f1;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 0 15px;
}
#link:after {
  content: '';
  display:block;
  width: 0;
  height: 2px;
  background: #ecf0f1;
  transition: width .4s;
}
#link:hover:after{
  width: 100%;
  transition: width .4s;
}
